* {
  box-sizing: border-box;
}
@font-face {
  src: url(../fonts/BMJUA_otf.otf);
  font-family: BmJua;
}

body {
  display: block;
  background-color: #F0E8D9;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 75px;
  font-size: 64px;
  font-family: BmJua;
  margin-bottom: 30px;
  text-align: center;
  color: #58595b;
}
h2 {
  font-size: 32px;
  font-family: BmJua;
  margin-bottom: 75px;
  text-align: center;
  color: #58595b;
}
.menu h3 {
  color: #58595b;
  font-size: 32px;
  font-family: BmJua;
  margin-top: 0;
  margin-bottom: 20px;
}
.menu p {
  color: #58595b;
  font-size: 16px;
  font-family: BmJua;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;
}
.menu a {
  color: #0000ee;
  font-size: 16px;
  font-family: BmJua;
  text-decoration: none;
}
.menu .info{
  padding: 20px;
  text-align: center;
}
.menu {
  width: 300px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}
